<ng-container *ngIf="true">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th> ProductName </th>
                        <th>Category</th>
                        <th>Price </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</ng-container>




<ng-container *ngIf="false">
<div class="center">
    <h2>your cart is empty</h2>
    <h3>Add item to it now</h3>
    <button routerLink="order" class="btn btn-success">Shop now </button>
</div>
</ng-container>
